<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}User Profile Management System{% endblock %}</title>
</head>

<body>
    <header>
        <h1>{% block header %}User Profile Management System{% endblock %}</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/sign_up">Sign Up</a></li>
                <li><a href="/sign_in">Sign In</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 User Profile Management System</p>
    </footer>
</body>

</html>