{%extends 'base.html'%}
{% block title %}Register | Page{% endblock %}

{% block content %}
<main>
    {%with messages = get_flashed_messages() %}
    {% for message in messages %}
    <div class="alert alert-info" id="flash-message">{{ message }}</div>
    {% endfor %}
    {% endwith %}
    <form method="POST" action="{{ url_for('auth.register') }}" class="auth_form">
        <h2>Register</h2>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <button type="submit" class="btn btn-primary"><a href="{{ url_for('auth.login') }}">Login</a></button>
    </form>
</main>
{% endblock %}