<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input | Form</title>
</head>

<body>
    <form action="/submit" method="post">
        <label for="first-name">First Name:</label>
        <input type="text" id="first-name" name="first-name" placeholder="please enter your first name" required> <br> <br>
        <label for="last-name">Last Name:</label>
        <input type="text" id="last-name" name="last-name" placeholder="please enter your last name" required>
        <br> <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>